PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=
DRIVE_DISK=local

# Configurações de Banco
DB_CONNECTION=mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=betalent
MYSQL_PASSWORD=betalent
MYSQL_DB_NAME=betalent

# Gateways Configuration
GATEWAY_1_URL=http://gateways:3001
GATEWAY_1_EMAIL=
GATEWAY_1_TOKEN=

GATEWAY_2_URL=http://gateways:3002
GATEWAY_2_TOKEN=
GATEWAY_2_SECRET=
