PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=cJCfwVWJC-oa5w0YtzIwPHlBh23pov-l
DRIVE_DISK=local

# Configurações de Banco
DB_CONNECTION=mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=betalent
MYSQL_PASSWORD=betalent
MYSQL_DB_NAME=betalent

# Gateways Configuration
GATEWAY_1_URL=http://gateways:3001
GATEWAY_1_EMAIL=dev@betalent.tech
GATEWAY_1_TOKEN=FEC9BB078BF338F464F96B48089EB498

GATEWAY_2_URL=http://gateways:3002
GATEWAY_2_TOKEN=tk_f2198cc671b5289fa856
GATEWAY_2_SECRET=3d15e8ed6131446ea7e3456728b1211f
